<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Confirm Information - Leo Shop</title>
<th:block th:include="/_header"></th:block>
</head>
<body>
	<th:block th:include="/_header-top"></th:block>
	<th:block th:include="/_header-bottom"></th:block>
	<div class="login">
		<div class="wrap">
			<div class="col_1_of_login span_1_of_login">

				<div class="login-title">
					<h4 class="title">Confirm Payment Information</h4>
					<div id="loginbox" class="loginbox">
						<form th:action="@{/cart/checkout}" method="get" id="login-form">
							<fieldset class="input">
								<p id="login-form-username">
									<label for="modlgn_username">Address</label> <input
										id="modlgn_username" type="text" name="address"
										class="inputbox" size="18" autocomplete="off" required>
								</p>
								<p id="login-form-username">
									<label for="modlgn_username">Phone Number</label> <input
										id="phonenum" type="tel" name="phone"
										pattern="(0[3|5|7|8|9])+([0-9]{8})\b" class="inputbox"
										size="18" autocomplete="off" maxlength="10" required>
								</p>

								<div class="remember checkmobile">
									<input type="submit" name="Submit" class="button"
										value="Confirm">
									<div class="clear"></div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
			<div class="col_1_of_login span_1_of_login">
				<h4 class="title">Delivery Infomation</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
					diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
					erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
					tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
					consequat. Duis autem vel eum iriure dolor in hendrerit in
					vulputate velit esse molestie consequat, vel illum dolore eu
					feugiat nulla facilisis at vero eros et accumsan</p>
				<div class="button1">
					<a th:href="@{/order_list}"><input type="submit" name="Submit"
						value="Order History"></a>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<th:block th:include="/_footer"></th:block>
</body>
</html>