<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Confirm Your Email - Leo Shop</title>
<th:block th:include="/_header"></th:block>
</head>
<body>
	<th:block th:include="/_header-top"></th:block>
	<th:block th:include="/_header-bottom"></th:block>
	<div class="login">
		<div class="wrap">
			<h1>Please check your email to login to your account ....</h1>
		</div>
	</div>
	<th:block th:include="/_footer"></th:block>
	<script src="/js/product.js"></script>
</body>
</html>