<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Edit User</title>
<th:block th:include="/_header"></th:block>
</head>
<body>
	<th:block th:include="/_header-top"></th:block>
	<th:block th:include="/_header-bottom"></th:block>
	<div class="login">
		<div class="wrap">
			<div class="col_1_of_login span_1_of_login">
				<div class="login-title">
					<h4 class="title">Edit Product</h4>
					<div id="loginbox" class="loginbox">
						<!-- 						<a style="color: red;" th:utext="${username_exist}"></a> -->
						<form th:action="@{/edit_user}" th:object="${user}" method="post">
							<fieldset class="input">
								<p id="login-form-username">
									<label for="modlgn_username">ID</label> <input
										th:field="*{userId}" type="text" class="inputbox" size="18"
										autocomplete="off" readonly="readonly">
								</p>
								<p id="login-form-username">
									<label for="modlgn_username">User Name</label> <input
										th:field="*{userName}" type="text" class="inputbox" size="18"
										autocomplete="off" required>
								</p>
								<p id="login-form-username">
									<label for="modlgn_username">Email</label> <input
										th:field="*{email}" type="email" class="inputbox" size="18"
										autocomplete="off" required>
								</p>
								<p id="login-form-username">
									<label for="modlgn_username">First Name</label> <input
										th:field="*{firstName}" type="text" class="inputbox" size="18"
										autocomplete="off">
								</p>
								<p id="login-form-username">
									<label for="modlgn_username">Last Name</label> <input
										th:field="*{lastName}" class="inputbox" size="18"
										autocomplete="off" required>
								</p>
								<div class="remember">
									<input type="submit" name="Submit" class="button" value="Edit">
									<div class="clear"></div>
								</div>
							</fieldset>
						</form>

					</div>
				</div>
				<br>
				<div id="success" class="text-center" style="color: green;"></div>
				<div id="error" class="text-center" style="color: red;"></div>
			</div>

			<div class="col_1_of_login span_1_of_login">
				<h4 class="title">New Products</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
					diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
					erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
					tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
					consequat. Duis autem vel eum iriure dolor in hendrerit in
					vulputate velit esse molestie consequat, vel illum dolore eu
					feugiat nulla facilisis at vero eros et accumsan</p>
				<div class="button1">
					<a th:href="@{/admin}"><input type="submit" name="Submit"
						value="Show All"></a>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>


		</div>
	</div>

	<th:block th:include="/_footer"></th:block>
	<script src="/js/product.js"></script>
</body>
</html>