<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="/js/resetpass.js"></script>
<title>Forgot Password - Leo Shop</title>
<th:block th:include="/_header"></th:block>
</head>
<body>
	<th:block th:include="/_header-top"></th:block>
	<th:block th:include="/_header-bottom"></th:block>
	<!-- 	<div> -->
	<!-- 		<h2>Reset Your Password</h2> -->
	<!-- 	</div> -->

	<!-- 	<form th:action="@{/reset_password}" method="post" -->
	<!-- 		style="max-width: 350px; margin: 0 auto;"> -->
	<!-- 		<input type="hidden" name="token" th:value="${token}" /> -->
	<!-- 		<div class="border border-secondary rounded p-3"> -->
	<!-- 			<div> -->
	<!-- 				<p> -->
	<!-- 					<input type="password" name="password" id="password" -->
	<!-- 						class="form-control" placeholder="Enter your new password" -->
	<!-- 						required autofocus /> -->
	<!-- 				</p> -->
	<!-- 				<p> -->
	<!-- 					<input type="password" class="form-control" -->
	<!-- 						placeholder="Confirm your new password" required -->
	<!-- 						oninput="checkPasswordMatch(this);" /> -->
	<!-- 				</p> -->
	<!-- 				<p class="text-center"> -->
	<!-- 					<input type="submit" value="Change Password" -->
	<!-- 						class="btn btn-primary" /> -->
	<!-- 				</p> -->
	<!-- 			</div> -->
	<!-- 		</div> -->
	<!-- 	</form> -->
	<div class="login">
		<div class="wrap">
			<div class="col_1_of_login span_1_of_login">

				<div class="login-title">
					<h4 class="title">Reset Your Password</h4>
					<div id="loginbox" class="loginbox">
						<form th:action="@{/reset_password}" method="post" id="login-form">
							<fieldset class="input">
								<input type="hidden" name="token" th:value="${token}" />
								<p id="login-form-username">
									<label for="modlgn_username">New Password</label> <input
										type="password" name="password" id="password" class="inputbox"
										size="18" autocomplete="off" required>
								</p>
								<p id="login-form-username">
									<label for="modlgn_username">Re-type Password</label> <input
										type="password" class="inputbox" size="18" autocomplete="off"
										oninput="checkPasswordMatch(this);" required>
								</p>
								<div class="remember">
									<input type="submit" name="Submit" class="button" value="Change password">
									<div class="clear"></div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
			<div class="col_1_of_login span_1_of_login">
				<h4 class="title">Reset Password</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
					diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
					erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
					tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
					consequat. Duis autem vel eum iriure dolor in hendrerit in
					vulputate velit esse molestie consequat, vel illum dolore eu
					feugiat nulla facilisis at vero eros et accumsan</p>
				<div class="button1">
					<a th:href="@{/login}"><input type="submit" name="Submit"
						value="Login Now"></a>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>

</body>